---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Use experimental install for XListenerSet.
  - github.com/kubernetes-sigs/gateway-api/config/crd/experimental?ref=v1.4.1
