apiVersion: apps/v1
kind: Deployment
metadata:
  name: i-reroute-proxy
  namespace: i-reroute
spec:
  replicas: 1
  selector:
    matchLabels:
      app: i-reroute-proxy
  template:
    metadata:
      labels:
        app: i-reroute-proxy
    spec:
      containers:
      - name: nginx
        # Use mainline for guaranteed QUIC and HTTP/2 support
        image: nginx:mainline-alpine
        ports:
        # Expose HTTP TCP port
        - containerPort: 80
          protocol: TCP
        # Expose HTTPS TCP port for HTTP/1.1 and HTTP/2
        - containerPort: 443
          protocol: TCP
        # Expose HTTPS UDP port for QUIC
        - containerPort: 443
          protocol: UDP
        resources:
          requests:
            cpu: "500m"
            memory: "100Mi"
          limits:
            cpu: "2"
            memory: "256Mi"
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
        - name: nginx-subconfig
          mountPath: /etc/nginx/conf.d
          readOnly: true
        - name: tls-certs
          mountPath: /etc/nginx/certs
          readOnly: true
      volumes:
      - name: nginx-config
        configMap:
          name: i-reroute-nginx-config
      - name: nginx-subconfig
        configMap:
          name: i-reroute-nginx-subconfig
      - name: tls-certs
        secret:
          secretName: i-reroute-tls-secret
