apiVersion: v1
kind: ConfigMap
metadata:
  name: i-reroute-nginx-config
  namespace: i-reroute
data:
  nginx.conf: |
    # Enable PCRE JIT for maximum regex performance
    pcre_jit on;
    worker_processes auto;
    
    events {
        # Set max worker connections
        worker_connections 10240;
        multi_accept on;
    }

    http {
        # Disable access log for gigabit throughput
        access_log off;
        error_log /var/log/nginx/error.log warn;

        # ======= Prod =======

        # Define HTTP upstream targeting port 80 on default-gateway
        upstream upstream_prod_http_backend {
            server default-gateway-istio.prod.svc.cluster.local:80;
            keepalive 128;
        }

        # Define HTTPS upstream targeting port 8080 on default-gateway
        upstream upstream_prod_https_backend {
            server default-gateway-istio.prod.svc.cluster.local:8080;
            keepalive 128;
        }

        # HTTP server block
        server {
            listen 80;
            
            # Capture the subdomain using PCRE named capture group
            server_name ~^(?<subdomain>[^.]+)\.i\.isning\.moe$;

            location / {
                # Rewrite the Host header to target domain
                proxy_set_header Host $subdomain.isning.moe;
                
                # Forward client connection details with http scheme
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto http;

                # Maintain persistent connections to the upstream
                proxy_http_version 1.1;
                proxy_set_header Connection "";

                # Disable proxy buffering for zero-latency pass-through
                proxy_buffering off;
                proxy_request_buffering off;
                
                # Route to the HTTP backend
                proxy_pass http://upstream_prod_http_backend;
            }
        }

        # HTTPS server block
        server {
            # Enable QUIC and HTTP/3 with reuseport for optimal performance
            listen 443 quic reuseport;
            listen 443 ssl http2;
            
            # Capture the subdomain using PCRE named capture group
            server_name ~^(?<subdomain>[^.]+)\.i\.isning\.moe$;

            # Mount paths matching the cert-manager Secret
            ssl_certificate /etc/nginx/certs/tls.crt;
            ssl_certificate_key /etc/nginx/certs/tls.key;
            
            # TLS 1.3 is strictly required for QUIC
            ssl_protocols TLSv1.2 TLSv1.3;
            
            # TLS session optimization to reduce CPU load
            ssl_session_cache shared:SSL:10m;
            ssl_session_timeout 1d;
            ssl_session_tickets off;

            # Advertise HTTP/3 availability to the client browser
            add_header Alt-Svc 'h3=":443"; ma=86400';

            # QUIC tuning: https://nginx.org/en/docs/quic.html
            quic_retry on;
            ssl_early_data on;
            #quic_gso on; # GSO is not supported by my physical NIC
            
            location / {
                # Rewrite the Host header to target domain
                proxy_set_header Host $subdomain.isning.moe;
                
                # Forward client connection details with https scheme
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto https;

                # Maintain persistent connections to the upstream
                proxy_http_version 1.1;
                proxy_set_header Connection "";

                # Disable proxy buffering for zero-latency pass-through
                proxy_buffering off;
                proxy_request_buffering off;
                
                # Route to the HTTPS backend
                proxy_pass http://upstream_prod_https_backend;
            }
        }

        # ======= Staging =======

        # Define HTTP upstream targeting port 80 on default-gateway
        upstream upstream_staging_http_backend {
            server default-gateway-istio.staging.svc.cluster.local:80;
            keepalive 128;
        }

        # Define HTTPS upstream targeting port 8080 on default-gateway
        upstream upstream_staging_https_backend {
            server default-gateway-istio.staging.svc.cluster.local:8080;
            keepalive 128;
        }

        # HTTP server block
        server {
            listen 80;
            
            # Capture the subdomain using PCRE named capture group
            server_name ~^(?<subdomain>[^.]+)\.i\.staging\.isning\.moe$;

            location / {
                # Rewrite the Host header to target domain
                proxy_set_header Host $subdomain.isning.moe;
                
                # Forward client connection details with http scheme
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto http;

                # Maintain persistent connections to the upstream
                proxy_http_version 1.1;
                proxy_set_header Connection "";

                # Disable proxy buffering for zero-latency pass-through
                proxy_buffering off;
                proxy_request_buffering off;
                
                # Route to the HTTP backend
                proxy_pass http://upstream_staging_http_backend;
            }
        }

        # HTTPS server block
        server {
            # Enable QUIC and HTTP/3 with reuseport for optimal performance
            listen 443 quic reuseport;
            listen 443 ssl http2;
            
            # Capture the subdomain using PCRE named capture group
            server_name ~^(?<subdomain>[^.]+)\.i\.staging\.isning\.moe$;

            # Mount paths matching the cert-manager Secret
            ssl_certificate /etc/nginx/certs/tls.crt;
            ssl_certificate_key /etc/nginx/certs/tls.key;
            
            # TLS 1.3 is strictly required for QUIC
            ssl_protocols TLSv1.2 TLSv1.3;
            
            # TLS session optimization to reduce CPU load
            ssl_session_cache shared:SSL:10m;
            ssl_session_timeout 1d;
            ssl_session_tickets off;

            # Advertise HTTP/3 availability to the client browser
            add_header Alt-Svc 'h3=":443"; ma=86400';

            # QUIC tuning: https://nginx.org/en/docs/quic.html
            quic_retry on;
            ssl_early_data on;
            #quic_gso on; # GSO is not supported by my physical NIC
            
            location / {
                # Rewrite the Host header to target domain
                proxy_set_header Host $subdomain.isning.moe;
                
                # Forward client connection details with https scheme
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto https;

                # Maintain persistent connections to the upstream
                proxy_http_version 1.1;
                proxy_set_header Connection "";

                # Disable proxy buffering for zero-latency pass-through
                proxy_buffering off;
                proxy_request_buffering off;
                
                # Route to the HTTPS backend
                proxy_pass http://upstream_staging_https_backend;
            }
        }

        # ======= Infra =======

        # Define HTTP upstream targeting port 80 on default-gateway
        upstream upstream_infra_http_backend {
            server infra-gateway-istio.kube-system.svc.cluster.local:80;
            keepalive 128;
        }

        # Define HTTPS upstream targeting port 8080 on default-gateway
        upstream upstream_infra_https_backend {
            server infra-gateway-istio.kube-system.svc.cluster.local:8080;
            keepalive 128;
        }

        # HTTP server block
        server {
            listen 80;
            
            # Capture the subdomain using PCRE named capture group
            server_name ~^(?<subdomain>[^.]+)\.i\.{CLUSTERNAME_PLACEHOLDER}\.isning\.moe$;

            location / {
                # Rewrite the Host header to target domain
                proxy_set_header Host $subdomain.isning.moe;
                
                # Forward client connection details with http scheme
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto http;

                # Maintain persistent connections to the upstream
                proxy_http_version 1.1;
                proxy_set_header Connection "";

                # Disable proxy buffering for zero-latency pass-through
                proxy_buffering off;
                proxy_request_buffering off;
                
                # Route to the HTTP backend
                proxy_pass http://upstream_infra_http_backend;
            }
        }

        # HTTPS server block
        server {
            # Enable QUIC and HTTP/3 with reuseport for optimal performance
            listen 443 quic reuseport;
            listen 443 ssl http2;
            
            # Capture the subdomain using PCRE named capture group
            server_name ~^(?<subdomain>[^.]+)\.i\.{CLUSTERNAME_PLACEHOLDER}\.isning\.moe$;

            # Mount paths matching the cert-manager Secret
            ssl_certificate /etc/nginx/certs/tls.crt;
            ssl_certificate_key /etc/nginx/certs/tls.key;
            
            # TLS 1.3 is strictly required for QUIC
            ssl_protocols TLSv1.2 TLSv1.3;
            
            # TLS session optimization to reduce CPU load
            ssl_session_cache shared:SSL:10m;
            ssl_session_timeout 1d;
            ssl_session_tickets off;

            # Advertise HTTP/3 availability to the client browser
            add_header Alt-Svc 'h3=":443"; ma=86400';

            # QUIC tuning: https://nginx.org/en/docs/quic.html
            quic_retry on;
            ssl_early_data on;
            #quic_gso on; # GSO is not supported by my physical NIC
            
            location / {
                # Rewrite the Host header to target domain
                proxy_set_header Host $subdomain.isning.moe;
                
                # Forward client connection details with https scheme
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto https;

                # Maintain persistent connections to the upstream
                proxy_http_version 1.1;
                proxy_set_header Connection "";

                # Disable proxy buffering for zero-latency pass-through
                proxy_buffering off;
                proxy_request_buffering off;
                
                # Route to the HTTPS backend
                proxy_pass http://upstream_infra_https_backend;
            }
        }
    }
