apiVersion: v1
kind: Service
metadata:
  name: i-reroute
spec:
  ipFamilyPolicy: PreferDualStack
  type: LoadBalancer
  ports:
  # Map external HTTP traffic
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  # Map external HTTPS TCP traffic (HTTP/1.1 and HTTP/2)
  - name: https-tcp
    port: 443
    targetPort: 443
    protocol: TCP
  # Map external HTTPS UDP traffic (QUIC)
  - name: https-udp
    port: 443
    targetPort: 443
    protocol: UDP
  selector:
    app: i-reroute-proxy
