apiVersion: v1
kind: Service
metadata:
  name: i-reroute
  annotations:
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false" # Disable Cloudflare proxy for this service
    # MUST be patched
    external-dns.alpha.kubernetes.io/hostname: "*.i.clustername.isning.moe,*.i.isning.moe,*.i.staging.isning.moe" # Set the desired hostnames for External DNS
spec:
  ipFamilyPolicy: SingleStack
  ipFamilies:
  - IPv6
  type: LoadBalancer
  ports:
  # Map external HTTP traffic
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  # Map external HTTPS TCP traffic (HTTP/1.1 and HTTP/2)
  - name: https-tcp
    port: 443
    targetPort: 443
    protocol: TCP
  # Map external HTTPS UDP traffic (QUIC)
  - name: https-udp
    port: 443
    targetPort: 443
    protocol: UDP
  selector:
    app: i-reroute-proxy
