apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base/i-reroute/

patches:
  - target:
      kind: Certificate
      name: i-reroute-tls
      namespace: i-reroute
    patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: "*.kubevirt-lab-1.isning.moe"

  - target:
      kind: Service
      name: i-reroute
      namespace: i-reroute
    patch: |-
      - op: replace
        path: /metadata/annotations/external-dns.alpha.kubernetes.io~1hostname
        value: "*.kubevirt-lab-1.i.isning.moe,*.i.isning.moe,*.i.staging.isning.moe"

  - path: ./nginx-subconfig-infra-patch.yaml
    target:
      kind: ConfigMap
      name: i-reroute-nginx-subconfig
      namespace: i-reroute
