apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: loki-gateway
  namespace: monitoring
spec:
  parentRefs:
    - name: infra-gateway
      namespace: kube-system
  hostnames: ["loki-gateway.isning.moe"]
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: loki-gateway
          port: 80
