apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: kiali
  namespace: kiali-operator
spec:
  parentRefs:
    - name: infra-gateway
      namespace: kube-system
  hostnames: ["kiali.isning.moe"]
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /kiali
      backendRefs:
        - name: kiali
          port: 20001
