apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: vmagent
  namespace: monitoring
spec:
  parentRefs:
    - name: infra-gateway
      namespace: kube-system
  hostnames: ["test1-vmagent.isning.moe"]
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: vmagent-victoria-metrics-k8s-stack
          port: 8429
