---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/cert-manager/
  - ../../base/kubevirt/
  - ../../base/storageclasses/
  - ../../base/gateway/
  - ../../base/grafana/
