---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/cert-manager/
  - ../../base/kubevirt/
  - ../../base/storageclasses/
  - ../../base/gateway/
  - ./cloudflare-operator/

patches:
  - target:
      kind: Gateway
      name: infra-gateway
      namespace: kube-system
    path: ./gateway-infra-patch.yaml
